In [22]:
import pandas as pd 

data = pd.read_csv("CGM.json", parse_dates=['time'] )

In [23]:
data

,uid,sugarValue,sensorId,time
0,9OesCogfhLUKXkUQRhkLq8scAw02,95.71986,-3281534221643937824,2019-11-12 10:40:35
1,9OesCogfhLUKXkUQRhkLq8scAw02,99.49608,-3281534221643937824,2019-11-12 10:43:35
2,9OesCogfhLUKXkUQRhkLq8scAw02,96.02604,-3281534221643937824,2019-11-12 10:39:35
3,9OesCogfhLUKXkUQRhkLq8scAw02,96.84252,-3281534221643937824,2019-11-12 10:42:35
4,9OesCogfhLUKXkUQRhkLq8scAw02,96.02604,-3281534221643937824,2019-11-12 10:41:35
...,...,...,...,...
3987,fLqw0dU8z4brI2Jg74ps3pHqLak1,92.04570,-2961773150542493728,2020-01-25 15:12:59
3988,fLqw0dU8z4brI2Jg74ps3pHqLak1,87.96330,-2961773150542493728,2020-01-25 14:59:18
3989,fLqw0dU8z4brI2Jg74ps3pHqLak1,87.65712,-2961773150542493728,2020-01-25 14:57:59
3990,fLqw0dU8z4brI2Jg74ps3pHqLak1,87.35094,-2961773150542493728,2020-01-25 14:58:59
3991,fLqw0dU8z4brI2Jg74ps3pHqLak1,86.63652,-2961773150542493728,2020-01-25 13:59:18

Filter value <0 in sugar

In [24]:
data = data[data.sugarValue >= 0]

In [25]:
data

,uid,sugarValue,sensorId,time
0,9OesCogfhLUKXkUQRhkLq8scAw02,95.71986,-3281534221643937824,2019-11-12 10:40:35
1,9OesCogfhLUKXkUQRhkLq8scAw02,99.49608,-3281534221643937824,2019-11-12 10:43:35
2,9OesCogfhLUKXkUQRhkLq8scAw02,96.02604,-3281534221643937824,2019-11-12 10:39:35
3,9OesCogfhLUKXkUQRhkLq8scAw02,96.84252,-3281534221643937824,2019-11-12 10:42:35
4,9OesCogfhLUKXkUQRhkLq8scAw02,96.02604,-3281534221643937824,2019-11-12 10:41:35
...,...,...,...,...
3987,fLqw0dU8z4brI2Jg74ps3pHqLak1,92.04570,-2961773150542493728,2020-01-25 15:12:59
3988,fLqw0dU8z4brI2Jg74ps3pHqLak1,87.96330,-2961773150542493728,2020-01-25 14:59:18
3989,fLqw0dU8z4brI2Jg74ps3pHqLak1,87.65712,-2961773150542493728,2020-01-25 14:57:59
3990,fLqw0dU8z4brI2Jg74ps3pHqLak1,87.35094,-2961773150542493728,2020-01-25 14:58:59
3991,fLqw0dU8z4brI2Jg74ps3pHqLak1,86.63652,-2961773150542493728,2020-01-25 13:59:18

In [26]:
dataM =data.reset_index().set_index('time')
data =dataM.groupby('uid').resample('15min').mean().dropna()

In [27]:
data

                                                        index  sugarValue  \
uid                          time
9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 10:30:00     2.000000   96.822108
                             2019-11-12 10:45:00    19.000000   93.984840
                             2019-11-12 11:00:00    11.272727   88.872562
                             2019-11-12 11:15:00    19.750000   85.041832
                             2019-11-12 11:30:00    47.000000   88.065360
...                                                       ...         ...
fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 14:00:00  3983.000000   84.493260
                             2020-01-25 14:15:00  3985.000000   84.595320
                             2020-01-25 14:30:00  3977.000000   88.881840
                             2020-01-25 14:45:00  3986.250000   87.580575
                             2020-01-25 15:00:00  3976.928571   90.157590

                                                      sensorId
uid                          time
9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 10:30:00 -3.281534e+18
                             2019-11-12 10:45:00 -3.281534e+18
                             2019-11-12 11:00:00 -3.281534e+18
                             2019-11-12 11:15:00 -3.281534e+18
                             2019-11-12 11:30:00 -3.281534e+18
...                                                        ...
fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 14:00:00 -2.961773e+18
                             2020-01-25 14:15:00 -2.961773e+18
                             2020-01-25 14:30:00 -2.961773e+18
                             2020-01-25 14:45:00 -2.961773e+18
                             2020-01-25 15:00:00 -2.961773e+18

[2179 rows x 3 columns]

In [28]:
data =data.reset_index()

In [29]:
data

,uid,time,index,sugarValue,sensorId
0,9OesCogfhLUKXkUQRhkLq8scAw02,2019-11-12 10:30:00,2.000000,96.822108,-3.281534e+18
1,9OesCogfhLUKXkUQRhkLq8scAw02,2019-11-12 10:45:00,19.000000,93.984840,-3.281534e+18
2,9OesCogfhLUKXkUQRhkLq8scAw02,2019-11-12 11:00:00,11.272727,88.872562,-3.281534e+18
3,9OesCogfhLUKXkUQRhkLq8scAw02,2019-11-12 11:15:00,19.750000,85.041832,-3.281534e+18
4,9OesCogfhLUKXkUQRhkLq8scAw02,2019-11-12 11:30:00,47.000000,88.065360,-3.281534e+18
...,...,...,...,...,...
2174,fLqw0dU8z4brI2Jg74ps3pHqLak1,2020-01-25 14:00:00,3983.000000,84.493260,-2.961773e+18
2175,fLqw0dU8z4brI2Jg74ps3pHqLak1,2020-01-25 14:15:00,3985.000000,84.595320,-2.961773e+18
2176,fLqw0dU8z4brI2Jg74ps3pHqLak1,2020-01-25 14:30:00,3977.000000,88.881840,-2.961773e+18
2177,fLqw0dU8z4brI2Jg74ps3pHqLak1,2020-01-25 14:45:00,3986.250000,87.580575,-2.961773e+18
2178,fLqw0dU8z4brI2Jg74ps3pHqLak1,2020-01-25 15:00:00,3976.928571,90.157590,-2.961773e+18

In [30]:
del data['index']
del data['sensorId']

In [31]:
data

                               uid                time  sugarValue
0     9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 10:30:00   96.822108
1     9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 10:45:00   93.984840
2     9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 11:00:00   88.872562
3     9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 11:15:00   85.041832
4     9OesCogfhLUKXkUQRhkLq8scAw02 2019-11-12 11:30:00   88.065360
...                            ...                 ...         ...
2174  fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 14:00:00   84.493260
2175  fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 14:15:00   84.595320
2176  fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 14:30:00   88.881840
2177  fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 14:45:00   87.580575
2178  fLqw0dU8z4brI2Jg74ps3pHqLak1 2020-01-25 15:00:00   90.157590

[2179 rows x 3 columns]

In [32]:
export_csv = data.to_csv (r'CGM.csv', index = None, header=True)